body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth"100;
  margin: 0;
  background: #fffbed;
  color: #00000060;
  font-size: 14px;
  line-height: 1.3;
}

.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-block {
  border-bottom: 2px solid #e7e7e7;
  padding: 12px 0 10px 0;
}

.content-logo-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  justify-self: start;
}

.delivery-guard {
  display: grid;
  grid-template-columns: auto auto;
}

.delivery {
  padding-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #808080;
  display: inline-block;
}

.guard {
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #808080;
  padding-left: 35px;
  display: inline-block;
}

.tel {
  display: grid;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  text-align: right;
  color: #4e2d2d;
  margin-bottom: 4px;
  justify-self: end;
}

.btn-call {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #fd9339;
  padding: 6px 6px 6px 6px;
  border: 1px solid #fd9339;
  border-radius: 4px;
  cursor: pointer;
  justify-self: end;
}

.btn-call:hover {
  background: #fd9329;
  color: white;
}