body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth"100;
  margin: 0;
  background: #fffbed;
  color: #00000060;
  font-size: 14px;
  line-height: 1.3;
}

.container {
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-block {
  border-bottom: 2px solid #e7e7e7;
  padding: 12px 0 10px 0;
}

.content-logo-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  justify-self: start;
}

.delivery-guard {
  display: grid;
  grid-template-columns: auto auto;
}

.delivery {
  background: url(/images/delivery.png) left center no-repeat;
  padding-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #808080;
  display: inline-block;
}

.guard {
  background: url(/images/guard.png) left center no-repeat;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #808080;
  padding-left: 35px;
  display: inline-block;
}

.tel {
  display: grid;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  text-align: right;
  color: #4e2d2d;
  margin-bottom: 4px;
  justify-self: end;
}

.btn-call {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #fd9339;
  padding: 6px 6px 6px 6px;
  border: 1px solid #fd9339;
  border-radius: 4px;
  cursor: pointer;
  justify-self: end;
}

.btn-call:hover {
  background: #fd9329;
  color: white;
}


.sidebar {
   align-self: start;
}

.ingredients {
  margin-top:  15px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
}

.ingredients h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: #4e2d2d;
  margin: 0;
  padding: 13px 148px 13px 42px;
  background: #fbe8bb url(/images/cheese.svg) left 12px center no-repeat;
}

.ingredients ul {
  list-style: none;
  padding: 0;
  margin: 11px 0 0 0;
  background: #fff;
}

.ingredients li {
  padding-bottom: 12px;
  padding-left: 16px;
  padding-top: 11px;
  border-bottom: 1px solid #e7e7e7;

}

.ingredients li:first-child {
  padding-top: 0;
}



.ingredients a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #292929;
}


.ingredients a:hover {
  text-decoration: underline;
}

.content {
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 30px;
}

.recipes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
  padding-bottom: 51px;
  margin-bottom: 38px;
  border-bottom: 2px solid #e7e7e7;
  margin-top:  15px;
}

.recipes-card {
  display: grid;
  border-radius: 5px;
  overflow: hidden;
}

.recipes-photo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.recipes-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.recipes-info {
  grid-column: 1/2;
  grid-row: 1/2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 52.6%, rgba(0, 0, 0, 0.72) 100%);
  color: #fff;
  display: grid;
  align-content: end;
  padding: 0 0 10px 14px;
}

.recipes-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0;
  margin: 8px 0 0 0;
}

.link {
  background: lightblue;
  justify-self: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fd9339;
  background: url(/images/orangeIcon.svg) right center no-repeat;
  padding-right: 10px;
  text-decoration: none;
}

.footer {
  background: #fff;
  padding: 33px 0 31px 0;
}

.footer-inner {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.payment-info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.payment-text {
  font-weight: 400;
  font-size: 18px;
  color: #292929;
  margin-right: 17px;
}

.master-card {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-indent: 37px;
  white-space: nowrap;
  overflow: hidden;
  background: #e7e7e7 url(/images/master_card.png) center no-repeat;
  display: inline-block;
  margin-right: 14px;

}

.visa {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-indent: 37px;
  white-space: nowrap;
  overflow: hidden;
  background: #e7e7e7 url(/images/visa.png) center no-repeat;
  display: inline-block;
  margin-right: 14px;
}

.yandex {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-indent: 37px;
  white-space: nowrap;
  overflow: hidden;
  background: #e7e7e7 url(/images/yandex.png) center no-repeat;
  display: inline-block;
}

.adress {
  font-weight: 400;
  line-height: 143%;
  color: #292929;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 10px;
}

.last-added-block {
  margin-bottom: 97px;
}

.last-added-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #4e2d2d;
}

.last-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.last-card {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
}



.last-img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.last-card-info {
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  display: grid;
  align-items: start;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr minmax(123px, auto);
}

.last-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #4e2d2d;
  padding: 0;
  margin: 0 0 2px 0;
}

.last-card-text {
  font-weight: 400;
  line-height: 171%;
  color: #000;
  padding: 0;
  margin: 0;
}

.card-link-wrapper {
  padding-left: 20px;
  padding-bottom: 18px;
  display: grid;
  align-items: end;
  justify-content: start;
}

.card-link-read {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9339;
  background: url(/images/last-block-icon.svg) right center no-repeat;
  padding-right: 15px;
  display: inline-block;
}